.hero {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #323264;
}

h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #323264;
}

.caps-h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
}

h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #4B28DE;
}

.paragraph {
  position: absolute;
  width: 89px;
  height: 20px;
  left: 40px;
  top: 1924px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #4B28DE;
}

.unordered-list {
  position: absolute;
  width: 120px;
  height: 20px;
  left: 40px;
  top: 2181px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #4B28DE;
}

.ordered-list {
  position: absolute;
  width: 99px;
  height: 20px;
  left: 40px;
  top: 2356px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #4B28DE;
}

.link-regular {
  position: absolute;
  width: 52px;
  height: 20px;
  left: 402px;
  top: 2572px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #4B28DE;
}

.link-hover {
  position: absolute;
  width: 39px;
  height: 20px;
  left: 402px;
  top: 2602px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #4B28DE;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  padding: 0 160px;
}

.hide {
  display: none;
}

.gradient-supersoft {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  max-width: 1920px;
  width: 100%;
  overflow: hidden;
  border-radius: 0px 0px 12px 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  position: relative;
  z-index: 1;
}
.header .right-side .top-box {
  display: flex;
  gap: 6px;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.header .right-side .top-box .lenguages {
  display: flex;
}
.header .right-side .top-box .lenguages .lenguage {
  width: 33px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
}
.header .right-side .top-box .lenguages .lenguage.accent, .header .right-side .top-box .lenguages .lenguage:hover {
  background-color: #F0145A;
}
.header .right-side .top-box svg:hover path {
  fill: #F0145A;
}
.header .right-side .top-box .namber-link a {
  font-weight: 700;
  color: #FFFFFF;
}
.header .right-side .top-box .dot {
  width: 6px;
  height: 6px;
  background-color: #E6E6F0;
  border-radius: 50%;
}
.header .right-side .bottom-box {
  padding-top: 18px;
  display: flex;
  justify-content: right;
  gap: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  cursor: pointer;
}
.header .right-side .bottom-box a {
  color: #FFFFFF;
}
.header .right-side .bottom-box .accent {
  color: #F0145A;
  text-decoration: underline;
  text-underline-offset: 6px;
}
.header .right-side .bottom-box :hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

footer .divider {
  margin-top: 30px;
  width: 1600px;
  height: 2px;
  background: #E6E6F0;
}
footer .dot {
  margin-left: 10px;
  margin-right: 10px;
  width: 6px;
  height: 6px;
  background-color: #B3B3BA;
  border-radius: 50%;
}
footer .top_rows {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
footer .top_rows .adress li {
  display: inline-flex;
}
footer .top_rows .adress .kyiv {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}
footer .top_rows .adress .on_map a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
footer .top_rows .patent {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #B3B3BA;
}
footer .bottom_rows {
  margin-top: 21px;
  margin-bottom: 30px;
  display: inline-flex;
  align-items: center;
}
footer .bottom_rows .phone {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #46466E;
}
footer .bottom_rows .e-mail a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}/*# sourceMappingURL=variables.css.map */